<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content" align="left">
                <h2>About Me</h2>
                <p>
                Multi-talented Project Manager and creative, engaging, full stack developer with extensive
                experience in project and program management spanning across renewable wind energy and
                aviation industries. Innovative and multi-skilled professional with proven ability to build strong
                relationships with all stakeholders and lead cross-functional teams in complex projects through all
                phases of the project life-cycle. Specializes in customer satisfaction through teamwork and
                maintain commitment to exceed expectations. Actively pursing opportunities to provide
                programming skills, leadership ability, and enthusiasm.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="content" align="left">
                <h2>Experience</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div id="content" align="left">
                <p><span class="position">Project Manager, Data & Systems<br>Vestas-American Wind Technology</span></p>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="content" align="left">
                <p>
                    Project Manager for the operational excellence department.
                    Successfully executed multiple cost saving and value-add process optimization
                    software projects across the services organization using Lean methodology.
                    Fostered the implementation of a Lean reporting structure that drives action and
                    accountability through data collection and analytic plans to improve operational
                    effectiveness. Served as a conduit between customers and management by
                    applying best practices to ensure projects run consistently, on budget, and with
                    high customer satisfaction.
                </p>
                <p align="right">
                    <span class="other">Other Positions: </span>Lean Systems Leader
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div id="content" align="left">
                <p><span class="position">Program Manager, Operations<br>UpWind Solutions</span></p>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="content" align="left">
                <p>
                    Provided overall management for concurrent projects across multiple product
                    lines for contracts that valued $3M+ in annual revenue. Developed programs and
                    processes to support the organizations strategic direction such as new contract
                    start-up process and standard operating processes. Led and participated in new
                    business development activities such as long term contract proposals. Engaged
                    in pre-proposal strategic activities, proposal reviews, and start-up activities.
                </p>
                <p align="right">
                    <span class="other">Other Positions: </span>Lean Systems Leader
                </p>            
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <div id="content" align="left">
                    <h2>Education/Training</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div id="content" align="left">
                    <p><span class="position">CoderCamps</span></p>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="content" align="left">
                    <p>
                        Enrolled in the coder for life program. Learned how to build web and mobile applications using Ionic Framework,
                        NodeJS, and AngularJS. Acquired skills to program using JavaScript, build
                        database-driven web applications and create richly interactive server-side apps
                        using the JavaScript AngularJS library.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div id="content" align="left">
                    <p><span class="position">Pittsburgh Institute of Aeronautics</span></p>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="content" align="left">
                    <p>
                            Completed the Aviation Maintenance Technician course and graduated with an
                            FAA Airframe and Power-plant certification license and an Associate Degree in
                            Specialized Technology.
                    </p>            
                </div>
            </div>
        </div>
</div>
